.container{
  display: flex;
  width: 100vw;
}
.container2{
  @extend .container;
  .dleft{
    width: 18%;
    height:100vh;
  }
  .dright{
    width: 82%;
    @include flex;
    .upper_desc{
      margin-bottom: 4rem;
      @include flex;
      gap: 0.2rem;
      p{
        font-size: 15px;
        color: $grey;
      }
    }
  }
  background-color: $body;
}
.log{
  width: 5rem;
  height: 5rem;
  background-color: $bg;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 70%;
    height: 70%;
  }
}