
.dhome{
  width: 100%;
  background: url("../../images/new.jpg");
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0,50%);
    @include flex;
    .desc{
      width: 80%;
      text-align: center;
      background-color: $secondary;
      padding: 0.4rem;
      padding-bottom: 1.5rem;
      border-radius: 5px;
      h1{
        margin: 0.8rem;
      }
      p{
        color: $grey;

      }
    }
  }
}
