body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

//abstracts
@import 'sass/abstracts/colors';
@import 'sass/abstracts/mixins';
@import 'sass/abstracts/varibales';
//base
@import 'sass/base/center';
@import 'sass/base/container';
@import 'sass/base/fontFace';
@import 'sass/base/typegrapher';

//Components
@import 'sass/components/button';
@import 'sass/components/input';
@import 'sass/components/select';
@import 'sass/components/form';

//Layout
@import 'sass/layout/navbar';

//pages
@import 'sass/pages/login';